body{
    background-color: rgb(0, 0, 0);
    color: rgb(49, 138, 80);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: rgb(31, 94, 28);
    color: rgb(146, 213, 198);
}

.navbar ul{
    display: flex;
    gap: 14px;
    list-style: none;
}

header{
    position: relative;
}

header h3{
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
}
.ponto{
    margin: 12px;
    list-style: disc;
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.rap{
    color: rgb(49, 138, 80);
}
.funk{
    color: rgb(49, 138, 80);
}
.fale{
    color: rgb(49, 138, 80);
}
.arro{
    color: rgb(49, 138, 80);
}
.forro{
    color: rgb(49, 138, 80);
}
.gos{
    color: rgb(49, 138, 80);
}
.hip{
    color: rgb(49, 138, 80);
}
.mpb{
    color: rgb(49, 138, 80);
}
.pag{
    color: rgb(49, 138, 80);
}
.reg{
    color: rgb(49, 138, 80);
}
.roc{
    color: rgb(49, 138, 80);
}
.ser{
    color: rgb(49, 138, 80);
}
.trap{
    color: rgb(49, 138, 80);
}
.pq{
    color: rgb(49, 138, 80);
}



/* contato.html */
.formulario-campo{
    display: flex;
    flex: 1;
    gap: 16px;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.formulario-campo label{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea{
    width: 300px;
    justify-self: flex-end;
    
}

a:visited{
    color:rgb(115, 255, 68)
}